/*Селекторы элементов*/
body {
    background-color: #18263a;
    color: #FFFFFF;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #318f1c;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #318f1c;
}

table {
    border-collapse: collapse;
    width: 100%;
}

/*Каскадная таблица*/
.header {
    text-align: left;
}

.header h1 {
    margin-left: 30px;
    font-family: serif;
    font-size: 50px; /* Размер шрифта заголовка */
    color: #318f1c; /* Цвет шрифта заголовка */
}

.header h3 {
    margin-left: 30px;
    font-family: sans-serif;
    font-size: 20px; /* Размер шрифта заголовка */
    color: white; /* Цвет шрифта заголовка */
}

/*Селекторы классов*/
.container {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%; /* Уменьшаем масштаб контейнера */
    margin: 0 auto; /* Центрируем контейнер */
}

.left-block {
    padding: 10px;
    left: 10%;
}

.right-block {
    padding: 10px;
}

/*Селекторы идентификаторов*/
#graph {
    width: 30%;
    padding: 10px;
    left: 35%; /* Центрируем график */
    align-content: center;
}

#checkboxes {
    display: flex;
    justify-content: center; /* Выравнивание радио-кнопок по центру */
}


/* Комбинация селекторов */
#table th {
    background-color: #18263a;
}

/* Селекторы атрибутов */
input[type="number"] {
    justify-content: center;
    align-items: center;

    padding: 5%;
    border: none;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    background-color: #000000;
    color: #FFFFFF;
}

/* Каскадирование */
h1.results {
    text-align: left;
}

h2.headerOfTable {
    text-align: center;
}

h4.input {
    text-align: center;
}